<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">YelpCamp</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds">Campgrounds</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/campgrounds/new">New Campground</a>
        </li>
      </ul>
        <div class="d-flex align-items-center">
          <%if(!currentUser){%>
          <a class="btn btn-outline-success px-3 me-2" href="/login">Log in</a>
          <a class="btn btn-outline-secondary px-3 me-2" href="/register">Register</a>
          <%} else 
          {%>
           <div class="btn-group">
             <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                  <%=currentUser.username%>
             </button>
             <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Profile</a></li>
              <li><a class="dropdown-item" href="#">Settings</a></li>
              <li><a class="dropdown-item" href="#">Contact Us</a></li>
              <li><hr class="dropdown-divider"></li>
             </ul>
          </div>
          <a class="btn btn-outline-secondary px-3 ms-3 me-2" href="/logout">Log Out</a>
          <%}%>
          
        </div>
    </div>
  </div>
</nav>
