<%-layout('layouts/boilerplate')%>


<div>
<h1>Yelp Campgrounds</h1>
<p>
This is the home page of the project YelpCampgrounds.This project is part of <a href="https://www.udemy.com/course/the-web-developer-bootcamp/">
    The Web Developer Bootcamp 2022, which I am/was attending.
</a>
</p>
</div>