<%layout('./layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">New CampGround</h1>
        <div class="col-6 offset-3">
            <form action="/campgrounds" method="POST" novalidate class="validation-required" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="title">Title</label>
                    <input class="form-control" type="text" name="campground[title]" id="title" placeholder="title" required/>
                    <div class="valid-feedback">ok!</div>
                </div>
                <div class="mb-3">
                    <label class="form-label" for="location">Location</label>
                    <input class="form-control" type="text" name="campground[location]" id="location"
                        placeholder="Location, Country" required />
                        <div class="valid-feedback">ok!</div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="price">Price</label>
                    <div class="input-group">
                        <span class="input-group-text" id="basic-addon1">$</span>
                        <input class="form-control" type="text" name="campground[price]" id="price" placeholder="0.00" required/>
                        <div class="valid-feedback">ok!</div>
                    </div>
                </div>

                <div class="mb-3">
                    <label class="form-label" for="description">Add description</label>
                    <textarea class="form-control" name="campground[description]" id="description" cols="30" rows="5" placeholder="write here" required></textarea>
                    <div class="valid-feedback">ok!</div>
                </div>
                <div class="mb-3 custom-file">
                    <label for="image" class="custom-file-label">Upload Image(s)</label>
                    <input class="form-control form-control-sm form-file-input" id="image" type="file" name="campground[image]" multiple>
                  </div>
                <!-- <div class="mb-3">
                    <label class="form-label" for="image">Upload an image</label>
                    <input class="form-control" type="text" name="campground[image]" id="image"
                        placeholder="Image URL"  required/>
                        <div class="valid-feedback">ok!</div>
                </div> -->
                <button class="btn btn-success mb-3">Add Campground</button>
            </form>
            <a href="/campgrounds" class="btn btn-secondary">List all Campgroudns</a>

        </div>
    </div>

